.brand-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
    
  }
 
  
  .brand-item {
    flex: 1 1 150px; /* Each brand logo takes at least 150px of space */
    margin: 10px;
    text-align: center;
  }
  
  .brand-logo {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    transition: transform 0.3s ease;
  }
  
  .brand-logo:hover {
    transform: scale(1.1); /* Slight zoom effect on hover */
  }
  
  /* Responsive layout for smaller screens */
  @media (max-width: 768px) {
    .brand-item {
      flex: 1 1 100px;
    }
  }
  