.FAQ{
    text-align: center;
    color: #048eb7;
}
.Guide {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
  }
  
  @media (max-width: 768px) {
    .Guide {
      grid-template-columns: 1fr;
    }
  }
  