/* Root styles for form container */
.freight-form {
  width: 90vw;
  max-width: 1200px;
  /* margin-left: 10%; */
  margin: auto;
  padding: 30px;
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  align-items: center;
}

/* Form Heading */
.freight-form h1 {
  font-size: 28px;
  color: #333;
  text-align: center;
  font-weight: 600;
  margin-bottom: 20px;
}

/* Step Transition Container */
.form-step {
  transition: all 0.4s ease-in-out;
  width: 100%;
  
}

/* Weight and Vehicle Options Containers */
.weight-options, .vehicle-options {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  margin: 20px 0;
}

/* Weight and Vehicle Card Styling */
.weight-card, .vehicle-card {
  flex: 1 1 200px;
  max-width: 250px;
  min-width: 200px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Selected State for Weight and Vehicle Cards */
.weight-card.selected, .vehicle-card.selected {
  background-color: #046f90; /* Highlight color when selected */
  color: #fff;
  border-color: #046f90;
}

.weight-card:hover, .vehicle-card:hover {
  transform: scale(1.05);
}

.weight-card img, .vehicle-card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Date Picker Styling */
.date-picker {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  box-sizing: border-box;
}

/* Button Styles */
 button {
  background-color: #048eb7;
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 20px;
  margin: 10px 5px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 8px 15px rgba(0, 72, 191, 0.2);
}

button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  box-shadow: none;
}

/* Error Message Styling */
.error {
  color: #e63946;
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
  font-weight: 500;
}

/* Review Section Styling */
.review {
  font-size: 14px;
  padding: 20px;
}
