.crousel-g-i {
  background: linear-gradient(rgba(246, 246, 248, 0.27), rgba(248, 248, 246, 0.325)), url("https://i.postimg.cc/7ZwfFNQs/5678079-54154.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



@media screen and (max-width: 767px) {
  .r-crousel {
      display: none;
  }
}
@media screen and (min-width: 767px) {
  .c-gradient{
      display:none;
  }
}